.nav {
    box-shadow: var(--default-shadow);
}

.nav .container {        /* Buscar nav y dentro de nav buscar container */
    align-items: center; /* ----- */
    gap: 2rem;           /* x - x - x */
}

.nav li:nth-child(4) {
    margin-left: auto;
}
