.button,
.button-2 {
    border: none;
    background-color: #CA2728;
    border-radius: var(--default-radius);
    font-weight: bold;
    padding: 0.5rem 2.5rem;
    cursor: pointer;
    transition: 0.25s;
}

.button b {
    color: white;
}

.button-2 {
    background-color: white;
    border: none;
    box-shadow: var(--default-shadow);
    color: var(--main-color);
}

.button-2:hover {
    box-shadow: var(--default-shadow);
    color: white;
}

.button:hover {
    cursor: pointer;
    background-color: #de4f5f;
}

.input {
    text-align: start;
}

.input input {
    width: 100%;
    border: none;
    background: rgb(245, 245, 245);
    border-radius: var(--default-radius);
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
}
