.home {
    text-align: left;
}

.home .container {
    grid-template-columns: 2fr 3fr;
    align-items: center;
}

.home .title {
    font-size: 36px;
}

.home .content {
    font-size: 64px;
}

.home .support {
    font-size: 32px;
    margin: 4rem 0;
}

.home .hero-image img {
    width: 100%;
}

@media (max-width: 55rem) {

    .home .container {
        grid-template-columns: 1fr;
    }

    .home .hero-image {
        grid-row: 1;
    }

    .home .title {
        font-size: 28px;
    }

    .home .content {
        font-size: 32px;
    }

    .home .support {
        font-size: 16px;
        margin: 1rem 0;
    }

}
