.panel .balance { /* panel > balance */
    align-items: center;
}

.panel .balance .value {
    font-size: 28px;
    margin-left: auto;
}

.panel .movements {
    margin-top: 2rem;
}

.transaction {
    background-color: rgb(222, 222, 222);
    box-shadow: none;
    grid-template-columns: 1fr 1fr;
    max-width: 60%;
}

.transactions {
    flex-direction: column;
    gap: 1rem;
}

.transaction .from {
    font-size: 18px;
    color: var(--main-color);
    font-weight: 500;
}

.transaction .negative-value {
    font-size: 18px;
    color: var(--enf-color);
    font-weight: 700;
    text-align: right;
}

.transaction .positive-value {
    font-size: 18px;
    color: var(--main-color);
    font-weight: 700;
    text-align: right;
}
